<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>WORLD TOUR | SYSTEM OF A DOWN FANSITE</title>
</head>
<body>
    <header>
        <img class="logo"src="../img/manoroja.jpg" alt="">
        <div class="nav">
            <ul>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_index.html">INICIO</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_newsletter.html">NEWSLETTER</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_tour.html">TOUR</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_music.html">MUSIC</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_shop.html">TIENDA</a></li>
            </ul>
        </div>
    </header>

    <div class="titulo">
        <h1>
            WORLD TOUR 2021
        </h1>
    </div>
    <div class="table">
        <table border="1" cellpadding=20 cellspacing=0 class="tabla">
            <tr>
                <th>
                    FECHA
                </th>
                <th>
                    LUGAR
                </th>
                <th>
                    CIUDAD
                </th>
                <th>
                    COMPRAR
                </th>
            
            <tr>
                <td>10/01/22</td>
                <td>ESTADIO RIVER PLATE</td>
                <td>BUENOS AIRES</td>
                <td><a href="">TICKETEK</a></td>
            </tr>
            <tr>
                <td>10/01/22</td>
                <td>ESTADIO RIVER PLATE</td>
                <td>BUENOS AIRES</td>
                <td><a href="">TICKETEK</a></td>
            </tr>
            <tr>
                <td>10/01/22</td>
                <td>ESTADIO RIVER PLATE</td>
                <td>BUENOS AIRES</td>
                <td><a href="">TICKETEK</a></td>
            </tr>
            <tr>
                <td>10/01/22</td>
                <td>ESTADIO RIVER PLATE</td>
                <td>BUENOS AIRES</td>
                <td><a href="">TICKETEK</a></td>
            </tr>
            <tr>
                <td>10/01/22</td>
                <td>ESTADIO RIVER PLATE</td>
                <td>BUENOS AIRES</td>
                <td><a href="">TICKETEK</a></td>
            </tr>
            <tr>
                <td>10/01/22</td>
                <td>ESTADIO RIVER PLATE</td>
                <td>BUENOS AIRES</td>
                <td><a href="">TICKETEK</a></td>
            </tr>
        </table>
    </div>

    <footer>Copyright 2020 | <a class="footerlink" href="https://www.linkedin.com/in/adrian-pereyra92/" target="_blank">Adrian Pereyra</a></footer>
</body>
</html>