<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>MUSIC ALBUMS | SYSTEM OF A DOWN FANSITE</title>
</head>
<body>
    <header>
        <img class="logo"src="../img/manoroja.jpg" alt="">
        <div class="nav">
            <ul>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_index.html">HOME</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_newsletter.html">NEWSLETTER</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_tour.html">TOUR</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_music.html">MUSIC</a></li>
                <li><a href="./potreroDigital_proyecto_adrianPereyra_shop.html">SHOP</a></li>
            </ul>
        </div>
    </header>
    <div class="titulo">
        <h1 class="tituloMusic">
            MUSIC ALBUMS
        </h1>
    </div>
    <div class="albums">
        <div>
            <h2 class="subtitleMusic">SYSTEM OF A DOWN (1998)</h2>
            <iframe src="https://open.spotify.com/embed/album/3sSfjX4fhZonjyZ10x0l0f" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div>
            <h2 class="subtitleMusic">TOXICITY (2001)</h2>
            <iframe src="https://open.spotify.com/embed/album/6jWde94ln40epKIQCd8XUh" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div>
            <h2 class="subtitleMusic">STEAL THIS ALBUM! (2002)</h2>
            <iframe src="https://open.spotify.com/embed/album/6lA1sGw7eCv27bcpd5E0wT" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div>
            <h2 class="subtitleMusic">MEZMERIZE (2005)</h2>
            <iframe src="https://open.spotify.com/embed/album/0cn6MHyx4YuZauaB7Pb66o" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div>
            <h2 class="subtitleMusic">HYPNOTIZE (2005)</h2>
            <iframe src="https://open.spotify.com/embed/album/3QxX3NbWyLlLG6lP1xveL3" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div>
            <h2 class="subtitleMusic">PROTECT THE LAND/GENOCIDAL HUMANOIDZ (2020 SINGLE)</h2>
            <iframe src="https://open.spotify.com/embed/album/00OQIrRjQgZmacSnjK8L7M" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
    <footer>Copyright 2020 | <a class="footerlink" href="https://www.linkedin.com/in/adrian-pereyra92/" target="_blank">Adrian Pereyra</a></footer>
</body>
</html>